body{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    margin-top: 100px;
}
canvas{
    background-color: azure;
    border-radius: 10px;
}